.cardDetail_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 290px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid black;
}

.button_wrapper {
  display: flex;
}
